Generated/CivetExternalMessages.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/BAHDS.WebUI/ExternalMessages" 
  xmlns:s1="http://tempuri.org/BAHDS.WebUI/ExternalMessages/AbstractTypes" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/BAHDS.WebUI/ExternalMessages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/BAHDS.WebUI/ExternalMessages">
      <s:element name="AddExternalMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddExternalMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddExternalMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
       <s:element name="CivetGetLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lookupType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <!-- Not clear why this needs to return xsd:any while CivetGetPremises returns XML as a string -->
      <s:element name="CivetGetLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CivetGetLookupResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CivetGetPremises">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parms" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <!-- Not clear why this needs to return string while CivetGetLookupResponse must be xsd:any -->
      <s:element name="CivetGetPremisesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CivetGetPremisesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CivetGetVets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parms" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CivetGetVetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CivetGetVetsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddExternalMessageSoapIn">
    <wsdl:part name="parameters" element="tns:AddExternalMessage" />
  </wsdl:message>
  <wsdl:message name="AddExternalMessageSoapOut">
    <wsdl:part name="parameters" element="tns:AddExternalMessageResponse" />
  </wsdl:message>
  <wsdl:message name="CivetGetLookupSoapIn">
    <wsdl:part name="parameters" element="tns:CivetGetLookup" />
  </wsdl:message>
  <wsdl:message name="CivetGetLookupSoapOut">
    <wsdl:part name="parameters" element="tns:CivetGetLookupResponse" />
  </wsdl:message>
  <wsdl:message name="CivetGetPremisesSoapIn">
    <wsdl:part name="parameters" element="tns:CivetGetPremises" />
  </wsdl:message>
  <wsdl:message name="CivetGetPremisesSoapOut">
    <wsdl:part name="parameters" element="tns:CivetGetPremisesResponse" />
  </wsdl:message>
  <wsdl:message name="CivetGetVetsSoapIn">
    <wsdl:part name="parameters" element="tns:CivetGetVets" />
  </wsdl:message>
  <wsdl:message name="CivetGetVetsSoapOut">
    <wsdl:part name="parameters" element="tns:CivetGetVetsResponse" />
  </wsdl:message>
  <wsdl:portType name="ExternalMessagesSoap">
     <wsdl:operation name="AddExternalMessage">
      <wsdl:input message="tns:AddExternalMessageSoapIn" />
      <wsdl:output message="tns:AddExternalMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CivetGetLookup">
      <wsdl:input message="tns:CivetGetLookupSoapIn" />
      <wsdl:output message="tns:CivetGetLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CivetGetPremises">
      <wsdl:input message="tns:CivetGetPremisesSoapIn" />
      <wsdl:output message="tns:CivetGetPremisesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CivetGetVets">
      <wsdl:input message="tns:CivetGetVetsSoapIn" />
      <wsdl:output message="tns:CivetGetVetsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
   <wsdl:binding name="ExternalMessagesSoap" type="tns:ExternalMessagesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddExternalMessage">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/AddExternalMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="CivetGetLookup">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetPremises">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetPremises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetVets">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetVets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExternalMessagesSoap12" type="tns:ExternalMessagesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
     <wsdl:operation name="AddExternalMessage">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/AddExternalMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="CivetGetLookup">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetPremises">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetPremises" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetVets">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetVets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
   </wsdl:binding>
  <wsdl:service name="ExternalMessages">
    <wsdl:port name="ExternalMessagesSoap" binding="tns:ExternalMessagesSoap">
      <soap:address location="http://localhost/usaherds/webservice/externalmessages.asmx" />
    </wsdl:port>
    <wsdl:port name="ExternalMessagesSoap12" binding="tns:ExternalMessagesSoap12">
      <soap12:address location="http://localhost/usaherds/webservice/externalmessages.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>