Generated/ExternalMessagesOriginal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/BAHDS.WebUI/ExternalMessages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://tempuri.org/BAHDS.WebUI/ExternalMessages/AbstractTypes" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/BAHDS.WebUI/ExternalMessages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/BAHDS.WebUI/ExternalMessages">
      <s:element name="UploadMIMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="isCompressed" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="targetActivity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadMIMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadMIMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddExternalMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageValue" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddExternalMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddExternalMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarketCheckin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PW" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="force" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MarketCheckinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MarketCheckinResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MIMSInventoryOutput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="premiseId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MIMSInventoryOutputResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MIMSInventoryOutputResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MIMSInventoryBySpeciesOutput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="premiseId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="species" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MIMSInventoryBySpeciesOutputResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MIMSInventoryBySpeciesOutputResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetPremisesList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Updatedate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetPremisesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetPremisesListResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetPremiseInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PremIDList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InventoryDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetPremiseInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetPremiseInventoryResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetAccessions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PremIds" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetAccessionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetAccessionsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetIncidents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PremIds" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetIncidentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetIncidentsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetPermits">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetPermitsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetPermitsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetCVIs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetCVIsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetCVIsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetVetsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Updatedate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetVetsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetVetsListResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetLookups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lookupType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetLookupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetLookupsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetAnimals">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnimalIDs" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WSGetAnimalsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WSGetAnimalsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CivetGetLookup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lookupType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CivetGetLookupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CivetGetLookupResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CivetGetPremises">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parms" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CivetGetPremisesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CivetGetPremisesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CivetGetVets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parms">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CivetGetVetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CivetGetVetsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSAuthenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSAuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PETSAuthenticateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSGetUserInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSGetUserInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PETSGetUserInformationResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSGetSites">
        <s:complexType />
      </s:element>
      <s:element name="PETSGetSitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PETSGetSitesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSGetTypesDatasets">
        <s:complexType />
      </s:element>
      <s:element name="PETSGetTypesDatasetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PETSGetTypesDatasetsResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSGetIncidents">
        <s:complexType />
      </s:element>
      <s:element name="PETSGetIncidentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PETSGetIncidentsResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSGetPremisesData">
        <s:complexType />
      </s:element>
      <s:element name="PETSGetPremisesDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PETSGetPremisesDataResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSGetAllAnimalData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SiteKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSGetAllAnimalDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PETSGetAllAnimalDataResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="un" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileContent" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PETSUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PETSUploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="base64Binary" nillable="true" type="s:base64Binary" />
    </s:schema>
    <s:schema targetNamespace="http://tempuri.org/BAHDS.WebUI/ExternalMessages/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadMIMSSoapIn">
    <wsdl:part name="parameters" element="tns:UploadMIMS" />
  </wsdl:message>
  <wsdl:message name="UploadMIMSSoapOut">
    <wsdl:part name="parameters" element="tns:UploadMIMSResponse" />
  </wsdl:message>
  <wsdl:message name="AddExternalMessageSoapIn">
    <wsdl:part name="parameters" element="tns:AddExternalMessage" />
  </wsdl:message>
  <wsdl:message name="AddExternalMessageSoapOut">
    <wsdl:part name="parameters" element="tns:AddExternalMessageResponse" />
  </wsdl:message>
  <wsdl:message name="MarketCheckinSoapIn">
    <wsdl:part name="parameters" element="tns:MarketCheckin" />
  </wsdl:message>
  <wsdl:message name="MarketCheckinSoapOut">
    <wsdl:part name="parameters" element="tns:MarketCheckinResponse" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryOutputSoapIn">
    <wsdl:part name="parameters" element="tns:MIMSInventoryOutput" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryOutputSoapOut">
    <wsdl:part name="parameters" element="tns:MIMSInventoryOutputResponse" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryBySpeciesOutputSoapIn">
    <wsdl:part name="parameters" element="tns:MIMSInventoryBySpeciesOutput" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryBySpeciesOutputSoapOut">
    <wsdl:part name="parameters" element="tns:MIMSInventoryBySpeciesOutputResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetPremisesListSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetPremisesList" />
  </wsdl:message>
  <wsdl:message name="WSGetPremisesListSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetPremisesListResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetPremiseInventorySoapIn">
    <wsdl:part name="parameters" element="tns:WSGetPremiseInventory" />
  </wsdl:message>
  <wsdl:message name="WSGetPremiseInventorySoapOut">
    <wsdl:part name="parameters" element="tns:WSGetPremiseInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetAccessionsSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetAccessions" />
  </wsdl:message>
  <wsdl:message name="WSGetAccessionsSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetAccessionsResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetIncidentsSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetIncidents" />
  </wsdl:message>
  <wsdl:message name="WSGetIncidentsSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetPermitsSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetPermits" />
  </wsdl:message>
  <wsdl:message name="WSGetPermitsSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetPermitsResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetCVIsSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetCVIs" />
  </wsdl:message>
  <wsdl:message name="WSGetCVIsSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetCVIsResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetVetsListSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetVetsList" />
  </wsdl:message>
  <wsdl:message name="WSGetVetsListSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetVetsListResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetLookupsSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetLookups" />
  </wsdl:message>
  <wsdl:message name="WSGetLookupsSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetLookupsResponse" />
  </wsdl:message>
  <wsdl:message name="WSGetAnimalsSoapIn">
    <wsdl:part name="parameters" element="tns:WSGetAnimals" />
  </wsdl:message>
  <wsdl:message name="WSGetAnimalsSoapOut">
    <wsdl:part name="parameters" element="tns:WSGetAnimalsResponse" />
  </wsdl:message>
  <wsdl:message name="CivetGetLookupSoapIn">
    <wsdl:part name="parameters" element="tns:CivetGetLookup" />
  </wsdl:message>
  <wsdl:message name="CivetGetLookupSoapOut">
    <wsdl:part name="parameters" element="tns:CivetGetLookupResponse" />
  </wsdl:message>
  <wsdl:message name="CivetGetPremisesSoapIn">
    <wsdl:part name="parameters" element="tns:CivetGetPremises" />
  </wsdl:message>
  <wsdl:message name="CivetGetPremisesSoapOut">
    <wsdl:part name="parameters" element="tns:CivetGetPremisesResponse" />
  </wsdl:message>
  <wsdl:message name="CivetGetVetsSoapIn">
    <wsdl:part name="parameters" element="tns:CivetGetVets" />
  </wsdl:message>
  <wsdl:message name="CivetGetVetsSoapOut">
    <wsdl:part name="parameters" element="tns:CivetGetVetsResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="PETSAuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:PETSAuthenticate" />
  </wsdl:message>
  <wsdl:message name="PETSAuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:PETSAuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="PETSGetUserInformationSoapIn">
    <wsdl:part name="parameters" element="tns:PETSGetUserInformation" />
  </wsdl:message>
  <wsdl:message name="PETSGetUserInformationSoapOut">
    <wsdl:part name="parameters" element="tns:PETSGetUserInformationResponse" />
  </wsdl:message>
  <wsdl:message name="PETSGetSitesSoapIn">
    <wsdl:part name="parameters" element="tns:PETSGetSites" />
  </wsdl:message>
  <wsdl:message name="PETSGetSitesSoapOut">
    <wsdl:part name="parameters" element="tns:PETSGetSitesResponse" />
  </wsdl:message>
  <wsdl:message name="PETSGetTypesDatasetsSoapIn">
    <wsdl:part name="parameters" element="tns:PETSGetTypesDatasets" />
  </wsdl:message>
  <wsdl:message name="PETSGetTypesDatasetsSoapOut">
    <wsdl:part name="parameters" element="tns:PETSGetTypesDatasetsResponse" />
  </wsdl:message>
  <wsdl:message name="PETSGetIncidentsSoapIn">
    <wsdl:part name="parameters" element="tns:PETSGetIncidents" />
  </wsdl:message>
  <wsdl:message name="PETSGetIncidentsSoapOut">
    <wsdl:part name="parameters" element="tns:PETSGetIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="PETSGetPremisesDataSoapIn">
    <wsdl:part name="parameters" element="tns:PETSGetPremisesData" />
  </wsdl:message>
  <wsdl:message name="PETSGetPremisesDataSoapOut">
    <wsdl:part name="parameters" element="tns:PETSGetPremisesDataResponse" />
  </wsdl:message>
  <wsdl:message name="PETSGetAllAnimalDataSoapIn">
    <wsdl:part name="parameters" element="tns:PETSGetAllAnimalData" />
  </wsdl:message>
  <wsdl:message name="PETSGetAllAnimalDataSoapOut">
    <wsdl:part name="parameters" element="tns:PETSGetAllAnimalDataResponse" />
  </wsdl:message>
  <wsdl:message name="PETSUploadSoapIn">
    <wsdl:part name="parameters" element="tns:PETSUpload" />
  </wsdl:message>
  <wsdl:message name="PETSUploadSoapOut">
    <wsdl:part name="parameters" element="tns:PETSUploadResponse" />
  </wsdl:message>
  <wsdl:message name="UploadMIMSHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="isCompressed" type="s:string" />
    <wsdl:part name="fileContent" type="s1:StringArray" />
    <wsdl:part name="targetActivity" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadMIMSHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddExternalMessageHttpGetIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="MessageType" type="s:string" />
    <wsdl:part name="Source" type="s:string" />
    <wsdl:part name="MessageValue" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddExternalMessageHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MarketCheckinHttpGetIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="PW" type="s:string" />
    <wsdl:part name="prm" type="s:string" />
    <wsdl:part name="dt" type="s:string" />
    <wsdl:part name="aid" type="s:string" />
    <wsdl:part name="force" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MarketCheckinHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryOutputHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="premiseId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryOutputHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryBySpeciesOutputHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="premiseId" type="s:string" />
    <wsdl:part name="species" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryBySpeciesOutputHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="WSGetPremisesListHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="Updatedate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetPremisesListHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetPremiseInventoryHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="PremIDList" type="s:string" />
    <wsdl:part name="InventoryDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetPremiseInventoryHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetAccessionsHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
    <wsdl:part name="PremIds" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetAccessionsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetIncidentsHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
    <wsdl:part name="PremIds" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetIncidentsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetPermitsHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetPermitsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetCVIsHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetCVIsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetVetsListHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="Updatedate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetVetsListHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetLookupsHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="lookupType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetLookupsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetAnimalsHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="AnimalIDs" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetAnimalsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="CivetGetLookupHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="lookupType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CivetGetLookupHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="CivetGetPremisesHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="parms" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="CivetGetPremisesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="Role" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PETSAuthenticateHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PETSAuthenticateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PETSGetUserInformationHttpGetIn">
    <wsdl:part name="un" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PETSGetUserInformationHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSGetSitesHttpGetIn" />
  <wsdl:message name="PETSGetSitesHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSGetTypesDatasetsHttpGetIn" />
  <wsdl:message name="PETSGetTypesDatasetsHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSGetIncidentsHttpGetIn" />
  <wsdl:message name="PETSGetIncidentsHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSGetPremisesDataHttpGetIn" />
  <wsdl:message name="PETSGetPremisesDataHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSGetAllAnimalDataHttpGetIn">
    <wsdl:part name="SiteKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PETSGetAllAnimalDataHttpGetOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSUploadHttpGetIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="fileContent" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="PETSUploadHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadMIMSHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="isCompressed" type="s:string" />
    <wsdl:part name="fileContent" type="s1:StringArray" />
    <wsdl:part name="targetActivity" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadMIMSHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AddExternalMessageHttpPostIn">
    <wsdl:part name="UserName" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="MessageType" type="s:string" />
    <wsdl:part name="Source" type="s:string" />
    <wsdl:part name="MessageValue" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="AddExternalMessageHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MarketCheckinHttpPostIn">
    <wsdl:part name="userID" type="s:string" />
    <wsdl:part name="PW" type="s:string" />
    <wsdl:part name="prm" type="s:string" />
    <wsdl:part name="dt" type="s:string" />
    <wsdl:part name="aid" type="s:string" />
    <wsdl:part name="force" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MarketCheckinHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryOutputHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="premiseId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryOutputHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryBySpeciesOutputHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="premiseId" type="s:string" />
    <wsdl:part name="species" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MIMSInventoryBySpeciesOutputHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="WSGetPremisesListHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="Updatedate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetPremisesListHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetPremiseInventoryHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="PremIDList" type="s:string" />
    <wsdl:part name="InventoryDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetPremiseInventoryHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetAccessionsHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
    <wsdl:part name="PremIds" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetAccessionsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetIncidentsHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
    <wsdl:part name="PremIds" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetIncidentsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetPermitsHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetPermitsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetCVIsHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="StartDate" type="s:string" />
    <wsdl:part name="EndDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetCVIsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetVetsListHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="Updatedate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetVetsListHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetLookupsHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="lookupType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetLookupsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="WSGetAnimalsHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="AnimalIDs" type="s:string" />
  </wsdl:message>
  <wsdl:message name="WSGetAnimalsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="CivetGetLookupHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="lookupType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CivetGetLookupHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="CivetGetPremisesHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="parms" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="CivetGetPremisesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="Role" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AuthenticateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PETSAuthenticateHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PETSAuthenticateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PETSGetUserInformationHttpPostIn">
    <wsdl:part name="un" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PETSGetUserInformationHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSGetSitesHttpPostIn" />
  <wsdl:message name="PETSGetSitesHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSGetTypesDatasetsHttpPostIn" />
  <wsdl:message name="PETSGetTypesDatasetsHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSGetIncidentsHttpPostIn" />
  <wsdl:message name="PETSGetIncidentsHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSGetPremisesDataHttpPostIn" />
  <wsdl:message name="PETSGetPremisesDataHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSGetAllAnimalDataHttpPostIn">
    <wsdl:part name="SiteKey" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PETSGetAllAnimalDataHttpPostOut">
    <wsdl:part name="Body" element="tns:base64Binary" />
  </wsdl:message>
  <wsdl:message name="PETSUploadHttpPostIn">
    <wsdl:part name="un" type="s:string" />
    <wsdl:part name="pw" type="s:string" />
    <wsdl:part name="fileContent" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="PETSUploadHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ExternalMessagesSoap">
    <wsdl:operation name="UploadMIMS">
      <wsdl:input message="tns:UploadMIMSSoapIn" />
      <wsdl:output message="tns:UploadMIMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddExternalMessage">
      <wsdl:input message="tns:AddExternalMessageSoapIn" />
      <wsdl:output message="tns:AddExternalMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MarketCheckin">
      <wsdl:input message="tns:MarketCheckinSoapIn" />
      <wsdl:output message="tns:MarketCheckinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryOutput">
      <wsdl:input message="tns:MIMSInventoryOutputSoapIn" />
      <wsdl:output message="tns:MIMSInventoryOutputSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryBySpeciesOutput">
      <wsdl:input message="tns:MIMSInventoryBySpeciesOutputSoapIn" />
      <wsdl:output message="tns:MIMSInventoryBySpeciesOutputSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetPremisesList">
      <wsdl:input message="tns:WSGetPremisesListSoapIn" />
      <wsdl:output message="tns:WSGetPremisesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetPremiseInventory">
      <wsdl:input message="tns:WSGetPremiseInventorySoapIn" />
      <wsdl:output message="tns:WSGetPremiseInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetAccessions">
      <wsdl:input message="tns:WSGetAccessionsSoapIn" />
      <wsdl:output message="tns:WSGetAccessionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetIncidents">
      <wsdl:input message="tns:WSGetIncidentsSoapIn" />
      <wsdl:output message="tns:WSGetIncidentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetPermits">
      <wsdl:input message="tns:WSGetPermitsSoapIn" />
      <wsdl:output message="tns:WSGetPermitsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetCVIs">
      <wsdl:input message="tns:WSGetCVIsSoapIn" />
      <wsdl:output message="tns:WSGetCVIsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetVetsList">
      <wsdl:input message="tns:WSGetVetsListSoapIn" />
      <wsdl:output message="tns:WSGetVetsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetLookups">
      <wsdl:input message="tns:WSGetLookupsSoapIn" />
      <wsdl:output message="tns:WSGetLookupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetAnimals">
      <wsdl:input message="tns:WSGetAnimalsSoapIn" />
      <wsdl:output message="tns:WSGetAnimalsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CivetGetLookup">
      <wsdl:input message="tns:CivetGetLookupSoapIn" />
      <wsdl:output message="tns:CivetGetLookupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CivetGetPremises">
      <wsdl:input message="tns:CivetGetPremisesSoapIn" />
      <wsdl:output message="tns:CivetGetPremisesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CivetGetVets">
      <wsdl:input message="tns:CivetGetVetsSoapIn" />
      <wsdl:output message="tns:CivetGetVetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSAuthenticate">
      <wsdl:input message="tns:PETSAuthenticateSoapIn" />
      <wsdl:output message="tns:PETSAuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetUserInformation">
      <wsdl:input message="tns:PETSGetUserInformationSoapIn" />
      <wsdl:output message="tns:PETSGetUserInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetSites">
      <wsdl:input message="tns:PETSGetSitesSoapIn" />
      <wsdl:output message="tns:PETSGetSitesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetTypesDatasets">
      <wsdl:input message="tns:PETSGetTypesDatasetsSoapIn" />
      <wsdl:output message="tns:PETSGetTypesDatasetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetIncidents">
      <wsdl:input message="tns:PETSGetIncidentsSoapIn" />
      <wsdl:output message="tns:PETSGetIncidentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetPremisesData">
      <wsdl:input message="tns:PETSGetPremisesDataSoapIn" />
      <wsdl:output message="tns:PETSGetPremisesDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetAllAnimalData">
      <wsdl:input message="tns:PETSGetAllAnimalDataSoapIn" />
      <wsdl:output message="tns:PETSGetAllAnimalDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSUpload">
      <wsdl:input message="tns:PETSUploadSoapIn" />
      <wsdl:output message="tns:PETSUploadSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExternalMessagesHttpGet">
    <wsdl:operation name="UploadMIMS">
      <wsdl:input message="tns:UploadMIMSHttpGetIn" />
      <wsdl:output message="tns:UploadMIMSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddExternalMessage">
      <wsdl:input message="tns:AddExternalMessageHttpGetIn" />
      <wsdl:output message="tns:AddExternalMessageHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MarketCheckin">
      <wsdl:input message="tns:MarketCheckinHttpGetIn" />
      <wsdl:output message="tns:MarketCheckinHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryOutput">
      <wsdl:input message="tns:MIMSInventoryOutputHttpGetIn" />
      <wsdl:output message="tns:MIMSInventoryOutputHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryBySpeciesOutput">
      <wsdl:input message="tns:MIMSInventoryBySpeciesOutputHttpGetIn" />
      <wsdl:output message="tns:MIMSInventoryBySpeciesOutputHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetPremisesList">
      <wsdl:input message="tns:WSGetPremisesListHttpGetIn" />
      <wsdl:output message="tns:WSGetPremisesListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetPremiseInventory">
      <wsdl:input message="tns:WSGetPremiseInventoryHttpGetIn" />
      <wsdl:output message="tns:WSGetPremiseInventoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetAccessions">
      <wsdl:input message="tns:WSGetAccessionsHttpGetIn" />
      <wsdl:output message="tns:WSGetAccessionsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetIncidents">
      <wsdl:input message="tns:WSGetIncidentsHttpGetIn" />
      <wsdl:output message="tns:WSGetIncidentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetPermits">
      <wsdl:input message="tns:WSGetPermitsHttpGetIn" />
      <wsdl:output message="tns:WSGetPermitsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetCVIs">
      <wsdl:input message="tns:WSGetCVIsHttpGetIn" />
      <wsdl:output message="tns:WSGetCVIsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetVetsList">
      <wsdl:input message="tns:WSGetVetsListHttpGetIn" />
      <wsdl:output message="tns:WSGetVetsListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetLookups">
      <wsdl:input message="tns:WSGetLookupsHttpGetIn" />
      <wsdl:output message="tns:WSGetLookupsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetAnimals">
      <wsdl:input message="tns:WSGetAnimalsHttpGetIn" />
      <wsdl:output message="tns:WSGetAnimalsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CivetGetLookup">
      <wsdl:input message="tns:CivetGetLookupHttpGetIn" />
      <wsdl:output message="tns:CivetGetLookupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CivetGetPremises">
      <wsdl:input message="tns:CivetGetPremisesHttpGetIn" />
      <wsdl:output message="tns:CivetGetPremisesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateHttpGetIn" />
      <wsdl:output message="tns:AuthenticateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSAuthenticate">
      <wsdl:input message="tns:PETSAuthenticateHttpGetIn" />
      <wsdl:output message="tns:PETSAuthenticateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetUserInformation">
      <wsdl:input message="tns:PETSGetUserInformationHttpGetIn" />
      <wsdl:output message="tns:PETSGetUserInformationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetSites">
      <wsdl:input message="tns:PETSGetSitesHttpGetIn" />
      <wsdl:output message="tns:PETSGetSitesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetTypesDatasets">
      <wsdl:input message="tns:PETSGetTypesDatasetsHttpGetIn" />
      <wsdl:output message="tns:PETSGetTypesDatasetsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetIncidents">
      <wsdl:input message="tns:PETSGetIncidentsHttpGetIn" />
      <wsdl:output message="tns:PETSGetIncidentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetPremisesData">
      <wsdl:input message="tns:PETSGetPremisesDataHttpGetIn" />
      <wsdl:output message="tns:PETSGetPremisesDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetAllAnimalData">
      <wsdl:input message="tns:PETSGetAllAnimalDataHttpGetIn" />
      <wsdl:output message="tns:PETSGetAllAnimalDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSUpload">
      <wsdl:input message="tns:PETSUploadHttpGetIn" />
      <wsdl:output message="tns:PETSUploadHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExternalMessagesHttpPost">
    <wsdl:operation name="UploadMIMS">
      <wsdl:input message="tns:UploadMIMSHttpPostIn" />
      <wsdl:output message="tns:UploadMIMSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddExternalMessage">
      <wsdl:input message="tns:AddExternalMessageHttpPostIn" />
      <wsdl:output message="tns:AddExternalMessageHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MarketCheckin">
      <wsdl:input message="tns:MarketCheckinHttpPostIn" />
      <wsdl:output message="tns:MarketCheckinHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryOutput">
      <wsdl:input message="tns:MIMSInventoryOutputHttpPostIn" />
      <wsdl:output message="tns:MIMSInventoryOutputHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryBySpeciesOutput">
      <wsdl:input message="tns:MIMSInventoryBySpeciesOutputHttpPostIn" />
      <wsdl:output message="tns:MIMSInventoryBySpeciesOutputHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetPremisesList">
      <wsdl:input message="tns:WSGetPremisesListHttpPostIn" />
      <wsdl:output message="tns:WSGetPremisesListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetPremiseInventory">
      <wsdl:input message="tns:WSGetPremiseInventoryHttpPostIn" />
      <wsdl:output message="tns:WSGetPremiseInventoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetAccessions">
      <wsdl:input message="tns:WSGetAccessionsHttpPostIn" />
      <wsdl:output message="tns:WSGetAccessionsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetIncidents">
      <wsdl:input message="tns:WSGetIncidentsHttpPostIn" />
      <wsdl:output message="tns:WSGetIncidentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetPermits">
      <wsdl:input message="tns:WSGetPermitsHttpPostIn" />
      <wsdl:output message="tns:WSGetPermitsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetCVIs">
      <wsdl:input message="tns:WSGetCVIsHttpPostIn" />
      <wsdl:output message="tns:WSGetCVIsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetVetsList">
      <wsdl:input message="tns:WSGetVetsListHttpPostIn" />
      <wsdl:output message="tns:WSGetVetsListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetLookups">
      <wsdl:input message="tns:WSGetLookupsHttpPostIn" />
      <wsdl:output message="tns:WSGetLookupsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WSGetAnimals">
      <wsdl:input message="tns:WSGetAnimalsHttpPostIn" />
      <wsdl:output message="tns:WSGetAnimalsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CivetGetLookup">
      <wsdl:input message="tns:CivetGetLookupHttpPostIn" />
      <wsdl:output message="tns:CivetGetLookupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CivetGetPremises">
      <wsdl:input message="tns:CivetGetPremisesHttpPostIn" />
      <wsdl:output message="tns:CivetGetPremisesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateHttpPostIn" />
      <wsdl:output message="tns:AuthenticateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSAuthenticate">
      <wsdl:input message="tns:PETSAuthenticateHttpPostIn" />
      <wsdl:output message="tns:PETSAuthenticateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetUserInformation">
      <wsdl:input message="tns:PETSGetUserInformationHttpPostIn" />
      <wsdl:output message="tns:PETSGetUserInformationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetSites">
      <wsdl:input message="tns:PETSGetSitesHttpPostIn" />
      <wsdl:output message="tns:PETSGetSitesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetTypesDatasets">
      <wsdl:input message="tns:PETSGetTypesDatasetsHttpPostIn" />
      <wsdl:output message="tns:PETSGetTypesDatasetsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetIncidents">
      <wsdl:input message="tns:PETSGetIncidentsHttpPostIn" />
      <wsdl:output message="tns:PETSGetIncidentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetPremisesData">
      <wsdl:input message="tns:PETSGetPremisesDataHttpPostIn" />
      <wsdl:output message="tns:PETSGetPremisesDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSGetAllAnimalData">
      <wsdl:input message="tns:PETSGetAllAnimalDataHttpPostIn" />
      <wsdl:output message="tns:PETSGetAllAnimalDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PETSUpload">
      <wsdl:input message="tns:PETSUploadHttpPostIn" />
      <wsdl:output message="tns:PETSUploadHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExternalMessagesSoap" type="tns:ExternalMessagesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadMIMS">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/UploadMIMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExternalMessage">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/AddExternalMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketCheckin">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/MarketCheckin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryOutput">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/MIMSInventoryOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryBySpeciesOutput">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/MIMSInventoryBySpeciesOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPremisesList">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetPremisesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPremiseInventory">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetPremiseInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetAccessions">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetAccessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetIncidents">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPermits">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetPermits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetCVIs">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetCVIs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetVetsList">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetVetsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetLookups">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetLookups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetAnimals">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetAnimals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetLookup">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetPremises">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetPremises" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetVets">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetVets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSAuthenticate">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSAuthenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetUserInformation">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetUserInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetSites">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetSites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetTypesDatasets">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetTypesDatasets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetIncidents">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetPremisesData">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetPremisesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetAllAnimalData">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetAllAnimalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSUpload">
      <soap:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExternalMessagesSoap12" type="tns:ExternalMessagesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadMIMS">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/UploadMIMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExternalMessage">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/AddExternalMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketCheckin">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/MarketCheckin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryOutput">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/MIMSInventoryOutput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryBySpeciesOutput">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/MIMSInventoryBySpeciesOutput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPremisesList">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetPremisesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPremiseInventory">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetPremiseInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetAccessions">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetAccessions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetIncidents">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetIncidents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPermits">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetPermits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetCVIs">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetCVIs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetVetsList">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetVetsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetLookups">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetLookups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetAnimals">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/WSGetAnimals" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetLookup">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetLookup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetPremises">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetPremises" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetVets">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/CivetGetVets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSAuthenticate">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSAuthenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetUserInformation">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetUserInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetSites">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetSites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetTypesDatasets">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetTypesDatasets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetIncidents">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetIncidents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetPremisesData">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetPremisesData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetAllAnimalData">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSGetAllAnimalData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSUpload">
      <soap12:operation soapAction="http://tempuri.org/BAHDS.WebUI/ExternalMessages/PETSUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExternalMessagesHttpGet" type="tns:ExternalMessagesHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UploadMIMS">
      <http:operation location="/UploadMIMS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExternalMessage">
      <http:operation location="/AddExternalMessage" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketCheckin">
      <http:operation location="/MarketCheckin" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryOutput">
      <http:operation location="/MIMSInventoryOutput" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryBySpeciesOutput">
      <http:operation location="/MIMSInventoryBySpeciesOutput" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPremisesList">
      <http:operation location="/WSGetPremisesList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPremiseInventory">
      <http:operation location="/WSGetPremiseInventory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetAccessions">
      <http:operation location="/WSGetAccessions" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetIncidents">
      <http:operation location="/WSGetIncidents" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPermits">
      <http:operation location="/WSGetPermits" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetCVIs">
      <http:operation location="/WSGetCVIs" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetVetsList">
      <http:operation location="/WSGetVetsList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetLookups">
      <http:operation location="/WSGetLookups" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetAnimals">
      <http:operation location="/WSGetAnimals" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetLookup">
      <http:operation location="/CivetGetLookup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetPremises">
      <http:operation location="/CivetGetPremises" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSAuthenticate">
      <http:operation location="/PETSAuthenticate" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetUserInformation">
      <http:operation location="/PETSGetUserInformation" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetSites">
      <http:operation location="/PETSGetSites" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetTypesDatasets">
      <http:operation location="/PETSGetTypesDatasets" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetIncidents">
      <http:operation location="/PETSGetIncidents" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetPremisesData">
      <http:operation location="/PETSGetPremisesData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetAllAnimalData">
      <http:operation location="/PETSGetAllAnimalData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSUpload">
      <http:operation location="/PETSUpload" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExternalMessagesHttpPost" type="tns:ExternalMessagesHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UploadMIMS">
      <http:operation location="/UploadMIMS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExternalMessage">
      <http:operation location="/AddExternalMessage" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketCheckin">
      <http:operation location="/MarketCheckin" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryOutput">
      <http:operation location="/MIMSInventoryOutput" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MIMSInventoryBySpeciesOutput">
      <http:operation location="/MIMSInventoryBySpeciesOutput" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPremisesList">
      <http:operation location="/WSGetPremisesList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPremiseInventory">
      <http:operation location="/WSGetPremiseInventory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetAccessions">
      <http:operation location="/WSGetAccessions" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetIncidents">
      <http:operation location="/WSGetIncidents" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetPermits">
      <http:operation location="/WSGetPermits" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetCVIs">
      <http:operation location="/WSGetCVIs" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetVetsList">
      <http:operation location="/WSGetVetsList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetLookups">
      <http:operation location="/WSGetLookups" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WSGetAnimals">
      <http:operation location="/WSGetAnimals" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetLookup">
      <http:operation location="/CivetGetLookup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CivetGetPremises">
      <http:operation location="/CivetGetPremises" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <http:operation location="/Authenticate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSAuthenticate">
      <http:operation location="/PETSAuthenticate" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetUserInformation">
      <http:operation location="/PETSGetUserInformation" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetSites">
      <http:operation location="/PETSGetSites" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetTypesDatasets">
      <http:operation location="/PETSGetTypesDatasets" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetIncidents">
      <http:operation location="/PETSGetIncidents" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetPremisesData">
      <http:operation location="/PETSGetPremisesData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSGetAllAnimalData">
      <http:operation location="/PETSGetAllAnimalData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PETSUpload">
      <http:operation location="/PETSUpload" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExternalMessages">
    <wsdl:port name="ExternalMessagesSoap" binding="tns:ExternalMessagesSoap">
      <soap:address location="http://corp-hbg-04.compaid.com/usaherds/WebService/ExternalMessages.asmx" />
    </wsdl:port>
    <wsdl:port name="ExternalMessagesSoap12" binding="tns:ExternalMessagesSoap12">
      <soap12:address location="http://corp-hbg-04.compaid.com/usaherds/WebService/ExternalMessages.asmx" />
    </wsdl:port>
    <wsdl:port name="ExternalMessagesHttpGet" binding="tns:ExternalMessagesHttpGet">
      <http:address location="http://corp-hbg-04.compaid.com/usaherds/WebService/ExternalMessages.asmx" />
    </wsdl:port>
    <wsdl:port name="ExternalMessagesHttpPost" binding="tns:ExternalMessagesHttpPost">
      <http:address location="http://corp-hbg-04.compaid.com/usaherds/WebService/ExternalMessages.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>